# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/marketplace_indexer?schema=public"

# Redis Cache
REDIS_URL="redis://localhost:6379"

# Stellar Network
HORIZON_URL="https://horizon-testnet.stellar.org"
NETWORK_PASSPHRASE="Test SDF Network ; September 2015"

# Contracts
CONTRACT_ID="CCE43HCMI53ANOL3BSSQYXAVBSSKW6CXXGSTNTUEIPHQDTWYILTKFAR5"

# API & Bot
PORT=4000
CRANK_INTERVAL_MS=60000
